/*--------------
     RESET 
--------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/*--------------
     LAYOUT 
--------------*/

body {
    background-color: black;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

main {
    height: calc(100vh - 160px);
    
}

footer {
    background-color: #222222;
    width: 100%;
    height: 80px;
}

.container {
    max-width: 1400px;
}

.addchangecontainer {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}


.head {
    display: flex;
    justify-content: end;
}

.spacehead{
    padding-top: 10px;
    padding-right: 10px;
}

.spacebutton {
    margin-right: 5px;
}
/*--------------
     ELEMENT 
--------------*/

.button {
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
}

.general-square {
    display: flex;
    position: relative;
    padding: 5px 5px 0px 5px;
}

.name-member {
    display: flex;
    align-self: flex-end;
    position: absolute;
}

.webcam-tag {
    padding-top: 3px;
    padding-right: 3px;
}
/*--------------
     TYPO
--------------*/

.txt-white {
    color: white;
}

.bg-grey {
    background-color: rgb(74, 74, 74);
    
}

.bg-grey-tag {
    background-color: rgb(74, 74, 74, 0.6);
    
}

.size-button-head {
    
}